{
	List = (
		{
			name = "Current path";
			text = "/bin/ls -AlFkhe %%p";
		},
		{
			name = "Current directory";
			text = "/bin/ls -AlFkhe %%d";
		},
		{
			name = "Home directory";
			text = "/bin/ls -AlFkhe ~";
		},
		{
			name = Desktop;
			text = "/bin/ls -AlFkhe ~/Desktop";
		},
		{
			name = "Spotlight path";
			text = "/usr/bin/mdls %%p";
		},
	);
	Convert = (
		{
			name = "Document to HTML";
			text = "/usr/bin/textutil -convert html -stdout -inputencoding 5 -encoding 5 %%p";
			inline = YES;
		},
		{
			name = "Document to plain text";
			text = "/usr/bin/textutil -convert txt -stdout -inputencoding 5 -encoding 5 %%p";
			inline = YES;
		},
		{
			name = "Selection to HTML entities";
			text = "#!/usr/bin/php\n<?php\n$data = file_get_contents(\"%%s\");\n$data = mb_convert_encoding($data, \"HTML-ENTITIES\", \"UTF-8\");\necho $data;\n?>";
			inline = YES;
			interpreter = "/usr/bin/php";
		},
		{
			name = "Selection from HTML entities to normal characters";
			text = "#!/usr/bin/php\n<?php\n$data = file_get_contents(\"%%s\");\n$data = mb_convert_encoding($data, \"UTF-8\", \"HTML-ENTITIES\");\necho $data;\n?>";
			inline = YES;
		},
		{
			name = "From binary plist to XML";
			text = "#!/bin/sh\n\ntempFile=/tmp/TextronTempFile.`/bin/date +%H%M%S`.$$\n\n/usr/bin/plutil -convert xml1 -o $tempFile %%p\n/bin/cat $tempFile\n/bin/rm -f $tempFile";
		},
		{
			name = "From XML plist to binary";
			text = "#!/bin/sh\n\ntempFile=/tmp/TextronTempFile.`/bin/date +%H%M%S`.$$\n\n/usr/bin/plutil -convert binary1 -o $tempFile %%p\n/bin/cat $tempFile\n/bin/rm -f $tempFile";
		},
	);
	Validate = (
		{
			name = HTML;
			text = "/usr/bin/tidy -errors %%p";
		},
		{
			name = "HTML accessibility";
			text = "/usr/bin/tidy -access 3 %%p";
		},
		{
			name = plist;
			text = "/usr/bin/plutil %%p";
		},
		{
			name = XML;
			text = "/usr/bin/xmllint -noout %%p";
		},
	);
	Other = (
		{
			name = "Run path";
			text = "/bin/sh %%p";
		},
		{
			name = "Show last log items";
			text = "/usr/bin/tail /var/log/system.log";
		},
		{
			name = "Insert current date";
			text = "/bin/date '+%Y-%m-%d %H:%M'";
			inline = YES;
		},
		{
			name = "Sort selected lines ascending";
			text = "#!/bin/sh\n\n/usr/bin/sort -f %%s";
			inline = YES;
		},
		{
			name = "Sort selected lines descending";
			text = "#!/bin/sh\n\n/usr/bin/sort -fr %%s";
			inline = YES;
		},
		{
			name = "Remove duplicate lines";
			text = "#!/bin/sh\n\n/usr/bin/uniq -u %%s";
			inline = YES;
		},
		{
			name = "Compile Java";
			text = "/usr/bin/javac %%p";
		},
		{
			name = "Make executable";
			text = "/bin/chmod u+x %%p";
		},
	);
}