{
	"CFBundleDevelopmentRegion" = English;
	"CFBundleDocumentTypes" = (
		{
			"CFBundleTypeExtensions" = (
				TextronProject,
				smlp,
			);
			CFBundleTypeIconFile = SMLProjectIcon;
			CFBundleTypeName = "Textron Project";
			CFBundleTypeRole = Editor;
			LSTypeIsPackage = NO;
			NSDocumentClass = SMLProject;
			"NSPersistentStoreTypeKey" = Binary;
		},
		{
			CFBundleTypeIconFile = SMLDocumentIcon;
			CFBundleTypeName = "Textron Document";
			CFBundleTypeOSTypes = (
				SMLd,
			);
			CFBundleTypeRole = Editor;
			LSItemContentTypes = (
				"org.Textron.Textron.document",
				"public.plain-text",
				"public.html",
				"public.xml",
				"public.c-source",
				"public.objective-c-source",
				"public.c-plus-plus-source",
				"public.objective-c-plus-plus-source",
				"public.c-header",
				"public.c-plus-plus-header",
				"com.sun.java-source",
				"com.netscape.javascript-source",
				"com.apple.traditional-mac-plain-text",
				"public.shell-script",
				"public.csh-script",
				"public.perl-script",
				"public.python-script",
				"public.ruby-script",
				"public.php-script",
				"com.apple.applescript.text",
				"public.utf8-plain-text",
				"public.utf16-external-plain-\U200btext",
				"public.utf16-plain-text",
				"public.source-code",
				"public.script",
			);
			LSTypeIsPackage = NO;
		},
		{
			"CFBundleTypeExtensions" = (
				"*",
			);
			CFBundleTypeName = "All documents";
			CFBundleTypeOSTypes = (
				"****",
			);
			CFBundleTypeRole = Editor;
			LSTypeIsPackage = NO;
		},
		{
			"CFBundleTypeExtensions" = (
				TextronSnippets,
				smlc,
			);
			CFBundleTypeIconFile = SMLSnippetsIcon;
			CFBundleTypeName = "Textron Snippets";
			CFBundleTypeRole = Editor;
			LSTypeIsPackage = NO;
		},
		{
			"CFBundleTypeExtensions" = (
				TextronCommands,
			);
			CFBundleTypeIconFile = SMLCommandsIcon;
			CFBundleTypeName = "Textron Commands";
			CFBundleTypeRole = Editor;
			LSTypeIsPackage = NO;
			"NSPersistentStoreTypeKey" = Binary;
		},
	);
	CFBundleExecutable = Textron;
	"CFBundleHelpBookFolder" = "Textron Help";
	CFBundleHelpBookName = "Textron Help";
	CFBundleIconFile = SMLMainIcon;
	CFBundleIdentifier = "org.Textron.Textron";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleName = Textron;
	CFBundlePackageType = APPL;
	CFBundleSignature = SMUL;
	CFBundleVersion = "3.6b1";
	ExcludeSyncKeys = (
		"PreferencesGeneralViewSavedFrame",
		"HasInsertedDefaultSnippets",
		"HasImportedFromVersion2",
		"HasInsertedDefaultCommands3",
	);
	"LSMinimumSystemVersion" = "10.6";
	NSAppleScriptEnabled = YES;
	NSMainNibFile = SMLMainMenu;
	NSPrincipalClass = SMLApplication;
	NSServices = (
		{
			NSMenuItem = {
				default = "Textron/Open Selected File";
			};
			NSMessage = openFile;
			NSPortName = Textron;
			NSSendTypes = (
				NSStringPboardType,
				"NSFilenamesPboardType",
			);
		},
		{
			NSMenuItem = {
				default = "Textron/Insert Selection Into Current Document";
			};
			NSMessage = insertSelection;
			NSPortName = Textron;
			NSSendTypes = (
				NSStringPboardType,
			);
		},
		{
			NSMenuItem = {
				default = "Textron/New Document Containing Selection";
			};
			NSMessage = openSelection;
			NSPortName = Textron;
			NSSendTypes = (
				NSStringPboardType,
			);
		},
	);
	"OSAScriptingDefinition" = "Textron.sdef";
	"UTExportedTypeDeclarations" = (
		{
			UTTypeConformsTo = (
				"public.plain-text",
				"public.text",
				"public.data",
			);
			UTTypeDescription = "Textron Document";
			UTTypeIconFile = DocumentIcon;
			UTTypeIdentifier = "org.Textron.Textron.document";
			"UTTypeTagSpecification" = {
				"com.apple.ostype" = SMLd;
			};
		},
	);
}